<div class="row filter-block">
	<div class="col-md-12">

		<div class="pull-left">
			<a href="{{create_uri}}" class="btn btn-success">Add New Content Item</a>
		</div>
		<div class="pull-right">
			<input type="text" class="search table-search form-control" placeholder="" v-model="searchKey"/>
		</div>
	</div>
</div>

<br>
<div class="row">
	<div class="col-md-12">
		

		<div class="progress" v-el:progress>
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
				<span class="sr-only">45% Complete</span>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-hover" data-route="" v-el:table style="display:none;">
				<thead>
					<tr>
						<th v-for="(index, value) in columns">{{value}}</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(index, content) in contents | filterBy searchKey">
						<td>{{content.name}}</td>
						<td><code>{{content.slug}}</code></td>
						<td>{{content.type}}</td>
						<td><span class="label label-primary">{{content.html}}</span></td>
						<td><a href="#" class="editable" data-value="{{content.active_value}}" id="content-id-{{content.id}}" data-name="active" data-type="select" data-pk="{{content.id}}" data-title="Set Content Status">{{content.active}}</a></td>
						<td>
							<span v-for="(index, translation) in content.translation">
								<a href="{{translation.url}}" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i>{{translation.locale}}</a>
							</span>
						</td>
						<td></td>
						<td>
							<a href="{{content.copy}}" class="btn-xs btn btn-icon btn-circle btn-primary" data-click="panel-collapse"><i class="fa fa-refresh"></i></a>
							<a href="{{content.edit}}" class="btn-xs btn btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-pencil"></i></a>
							<a href="{{content.translate}}" class="btn-xs btn btn-icon btn-circle btn-success"><i class="fa fa-flag"></i></a>
							<a href="{{content.delete}}" data-method="post" class="btn btn-xs btn-danger"><i class="fa fa-trash" data-toggle="tooltip" data-placement="top" title="Delete"></i></a>
						</td>

					</tr>


				</tbody>
			</table>
		</div>

	</div>
</div>